
.wrap{
	width: 300px;
	background: red;
	height: 300px;
	margin: 0 auto;
}
.btn{
	display: flex;
}
.box{
	width: 100px;
	height:100px;
	background: #000;
	margin:50px auto;
}
input{
	flex:1;
	align-items: center;
}
